body {
    background-color: #FFF;
    /*color:#777;*/
}
.main-view {
    /*min-height: 700px;*/
}

.logo {
    padding: 12px;
}

.secondary-content {
    color: #4CAF50;
}

.nav-title {
    font-weight: 300;
    padding-left: 1.5rem;
    font-size: 1.5rem;
}

.parallax-container {
    height: 400px;
}

.collection-header,
.collection .collection-header {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: medium;
    color: #4CAF50;
}

.collection-item:hover {
    background-color: #DDDDDD;
}
.collection-item.avatar {
    height: 8em;
    padding-left: 7em;
    position: relative;
    width: 100%;
}
.collection-item.avatar .thumb-image {
    max-height: 7rem;
    max-width: 5rem;
    display: inline-block;
    left: 1em;
    vertical-align: middle;
    position: absolute;
}
.collection .collection-item.avatar .title {
    color: black;
    margin-top: 0rem;
    margin-bottom: -0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 2rem;
}
.collection .collection-item.avatar p {
    padding-left: 2rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: #777;
    font-size: 1rem;
    padding-top: 5px;

}

.collection .collection-item {
    width: 100%;
}